.navbar {
    background-color: #333;
    padding: 1em;
    text-align: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 1em;
    border: 1px solid #333;
    top: 100%;
    left: 0;
  }
  
  .dropdown-menu li {
    margin-bottom: 10px;
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }